html,
body {
    font-family: sans-serif;
}
.main {
    display: flex;
    flex-direction: row;
}
.section {
    padding: 2% 5%;
    width: 100%;
}
.section:first-child {
    border-right: 1px solid #ccc;
}
.heading {
    font-size: 24px;
}
.success {
    color: green;
}
.error {
    color: red;
}
