{
    "globals": {
        "shallow": true,
        "mount": true,
        "render": true
    },
    "rules": {
        "no-multi-assign": ["off"],

        "react/prop-types": ["error", { "ignore": ["nodeRef"] }],
        "react/no-multi-comp": ["off"]
    }
}