{
    "env": {
        "jest": true
    },
    "rules": {
        "import/no-extraneous-dependencies": [2, { "devDependencies": true }],

        "react/prefer-stateless-function": [0],
        "react/prop-types": [2, { "ignore": ["nodeRef"] }],
        "react/no-multi-comp": [0]
    }
}